# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
/.env
/.env.*
!.env.example

# Laravel specific
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# IDE & Editor files
/.idea
/.vscode
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
# Ignore fichier SQL local
learning-academy.sql